<footer class="pt-4 my-md-5 pt-md-5 border-top bg-dark">
    <div class="container">
    <div class="row ">
      <div class="col-12 col-md">
          <img alt='phone number verification api' class='footer-logo' src='assets/images/verifier_logo_alt.png'>
        <small class="d-block mb-3 text-muted">© 2021 <br >
        VantSMS provides reliable and affordable phone number verification and transaction SMS notification service </small>
      </div>
      <div class="col-6 col-md">
        <h5>Features</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Affordable pricing</a></li>
          <li><a class="text-muted" href="#">Reliable Service</a></li>
          <li><a class="text-muted" href="#">Fast Integration</a></li>
          <li><a class="text-muted" href="#">Easy Customization</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Resource</a></li>
          <li><a class="text-muted" href="#">API Documentation </a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Privacy</a></li>
          <li><a class="text-muted" href="#">Terms</a></li>
        </ul>
      </div>
    </div>
</div>  
</footer>
