<section class="container">
  <section class="container-form">

    <div class="form-heading">
      <h1>Login</h1>
      <p>Log in your account to continue</p>
    </div>
   

    <form action="#" class="form-container">
      
      <div class="field">
        <label class="label">Email</label>
        <input class="input" type="email" placeholder="Email" required>
      </div>

      <div class="field">
        <label class="label">Password</label>
        <input class="input" type="password" placeholder="Password" required>
      </div>        
      
      <a class="button btn-success" routerLink="/profile">Log In</a>

      <div class="form-buttom">
        <p class="form-buttom-text">Not Registered? <span><a routerLink="/signup">Create an account</a></span></p>
        <a routerLink="/forgot-password">Forgot Password?</a>
      </div>
      
    </form>
  </section>
</section>