<section class="container">
  <section class="container-form">

    <div class="form-heading">
      <h6>Enter the 6 digit code sent to your Email</h6>
    </div>
   

    <form action="#" class="form-container">
      <div class="text-danger text-center info-danger" [hidden]="!errorMsg">
        {{errorMsg}}
      </div>
      <div class="field">
        <input class="input" name="otp" maxlength="6" [(ngModel)]="otp.code" type="text" placeholder="- - - - -" required>
      </div>        
      
      <a class="button btn-success" (click)="verify()">Verify</a>
    </form>
  </section>
</section>
<div class="loader" [hidden]="!isLoading">
  <h6 class="text-danger">
      Processing ...<br >
      Please wait 
  </h6>
</div>