<div class="wrap d-grid gap-2 col-6 mx-auto">
  <p>
    Enter the 6 digit code sent to your Email
  </p>
  <input class="input-code" maxlength="6" type="text" placeholder="- - - - - -">
  <button class="btn btn-success" type="button" routerLink="/login">Verify</button>
</div>



<div class="wrap d-grid gap-2 col-6 mx-auto">
  <p class="title">Recover your password</p>

  <form action="#" class="form-container">
    <div class="field">
      <label class="label">Email</label>
      <input type="email" placeholder="Email" required>
    </div>

    <div class="field">
      <label class="label">Phone Number</label>
      <input type="password" placeholder="Password" required>
    </div>        
    
    <a class="button btn-success" routerLink="/verification">Submit</a>    
  </form>
</div>
