<section class="container">
  <section class="container-form">

    <div class="form-heading">
      <h3>Recover your password</h3>
    </div>
   

    <form action="#" class="form-container">
      
      <div class="field">
        <label class="label">Email</label>
        <input class="input" type="email" placeholder="Email" required>
      </div>

      <div class="field">
        <label class="label">Phone No</label>
        <input class="input" type="password" placeholder="Phone Number" required>
      </div>        
      
      <a class="button btn-success" routerLink="/profile">Submit</a>

      <div class="form-buttom">
        <p class="form-buttom-text">Not Registered? <span><a routerLink="/signup">Create an account</a></span></p>
        <a routerLink="/login">Log in here</a>
      </div>
      
    </form>
  </section>
</section>