<section class="wrap d-grid gap-2 col-6 mx-auto">
  

  <form action="#" class="form-container">
    <p class="title">Recover your password</p>
    <div class="field">
      <label class="label">Email</label>
      <input type="email" placeholder="Email" required>
    </div>

    <div class="field">
      <label class="label">Phone Number</label>
      <input type="password" placeholder="Password" required>
    </div>        
    
    <a class="button btn-success" routerLink="/verification">Submit</a>    
  </form>
</section>
