<app-navbar></app-navbar>
<section class="container">
  <div class="wrap">
    <section class='full-height vertical-center' data-bgimage='url(images/background/1.png) bottom'>
      <div class='container banner'>
          <div class='row align-items-center'>
              <div class='col-md-6 wow fadeInRight' data-wow-delay='.5s'>
                  <div class='spacer-10'></div>
                  <h1 class="banner-text">Affordable <span class='text-danger'> <br />Phone Number <br /></span> Verification Service!</h1>
                  <p class='lead'>Reduce fraudulent accounts and speed up user onboarding. Easily verify users at signup by confirming phone number ownership </p>
                  <a class='btn btn-dark btn-lg' href='signup'>Get Started</a>
                  <div class='mb-sm-30'></div>
              </div>

              <div class='col-md-6 wow fadeInLeft banner-img' data-wow-delay='.5s'>
                  <img alt='Affordable Phone Verification Service' class='img-fluid' src='assets/images/verified2.svg'/>
              </div>
          </div>
      </div>
    </section>
      <div class='row align-items-center banner2'>
        <div class='col-md-6 wow fadeInLeft banner-img' data-wow-delay='.5s'>
          <img  alt='Affordable Phone Verification Service' class='img-fluid ' src='assets/images/verified.svg' />
        </div>  
        <div class="col-md-6">
          <h1 class="header2 banner-text">
            Reliable <span class="text-danger">Transaction SMS </span>
            Notification Service
          </h1>
          <p>Send the right message at the right time! Deliver timely notifications, Automated notifications reduce costs, missed appointments, delivery attempts, and more</p>
          <a class="btn btn-success" routerLink="/signup" role="button">Get Started</a>
        </div>
      </div>
<section data-bgimage='url(images/background/2.png) top' id='section-highlight'>
  <div class='container' id="features">
      <div class='row'>
          <div class='col-lg-6 offset-lg-3'>
              <div class='text-center'>
                  <h2><span class='uptitle text-danger'>About Us </span> What makes us better?</h2>
                  <p class='lead'>Here are the principal reasons to choose us over others.</p>
                  <div class='spacer-20'></div>
              </div>
          </div>
      </div>
  </div>
</section>
<section>
    <div class="container">
  <div class="row">
    <div class="col-md-3 col-sm-6">
        <div class="serviceBox">
            <div class="service-icon">
                <span><i class="fa fa-globe"></i></span>
            </div>
            <div class="service-content">
                <h3 class="title">Affordable <span>Price</span></h3>
                <p class="description">Starting from N15/SMS to as low as N10/SMS. If you are a heavy consumer send us an email to get our super volume discount. </p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="serviceBox darkgreen">
            <div class="service-icon">
                <span><i class="fa fa-rocket"></i></span>
            </div>
            <div class="service-content">
                <h3 class="title">Reliable <span>Service</span></h3>
                <p class="description">Send to all Nigerian telco networks, verify your account and send to numbers with (Do not Disturb) DND .</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="serviceBox blue">
            <div class="service-icon">
                <span><i class="fa fa-mobile"></i></span>
            </div>
            <div class="service-content">
                <h3 class="title">Fast <span>Integration</span></h3>
                <p class="description"> Integrating Vantsms verification and transaction APIs is so easy it can be done in a single sprint.</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="serviceBox darkblue">
            <div class="service-icon">
                <span><i class="fa fa-briefcase"></i></span>
            </div>
            <div class="service-content">
                <h3 class="title">Easy to <span>Custimize</span></h3>
                <p class="description">Use our auto-generated OTP and Verification feature or generate your own custom messages and verification flow.</p>
            </div>
        </div>
    </div>
</div></div>
</section>

  <div  id="pricing" class="pricing-header col-md-6 px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Pricing</h1>
    <p class="lead">Vantsms provides a very easy pricing model. Our volume pricing ensures you get the best pricing available in the market.</p>
  </div>

  <div class="container">
    <div class="card-deck mb-3 text-center">
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Hobbyist</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">N15.00 <small class="text-muted">/ SMS</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>N1K - N100K</li>
            <li>Flat Pricing for all networks</li>
            <li>Access to APIs</li>
            <li>Custom Sender ID</li>
          </ul>
          <button type="button" class="btn btn-lg btn-block btn-outline-primary">Sign up</button>
        </div>
      </div>
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Startups</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">N12.5 <small class="text-muted">/ SMS</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>N101k - N999.99K</li>
            <li>Flat Pricing for all networks</li>
            <li>Access to APIs</li>
            <li>Custom Sender ID</li>
          </ul>
          <button type="button" class="btn btn-lg btn-block btn-primary">Get started</button>
        </div>
      </div>
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Enterprise</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">N10 <small class="text-muted">/ SMS</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Above N1M</li>
            <li>Flat Pricing to all networks</li>
            <li>Access to APIs</li>
            <li>Custom Sender ID</li>
          </ul>
          <button type="button" class="btn btn-lg btn-block btn-primary">Signup Now</button>
        </div>
      </div>
    </div>
  </div>
<app-footer></app-footer>
